/* Colors */
:root {
  --color-primary: #630ac4;
  --color-primary--hover: #460c83;
  --color-text-primary: #212024;
  --color-text-secondary: #50505a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
}

body,
input,
button {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: var(--color-text-primary);
}
